.contactInfo_item {
  font-size: 14px !important;
  color: var(--text-secondary);
}

.contactInfo_item>span {
  color: var(--text-primary);
  font-weight: 500;
}

.contactInfo_socialsContainer {
  margin-top: 8px;
}

.contactInfo_social>a>.MuiSvgIcon-root {
  font-size: 16px !important;
  margin-right: 10px;
  color: var(--text-secondary);
}