:root {
  --main-color: #ffc500;
}

.container_shadow {
  box-shadow: 0px 2px 92px 0px rgb(0, 0, 0, 0.30);
  -webkit-box-shadow: 0px 2px 92px 0px rgb(0, 0, 0, 0.30);
  -moz-box-shadow: 0px 2px 92px 0px rgb(0, 0, 0, 0.30);
  border-radius: 10px !important;
}

.container_margin {
  margin-top: 60px !important;
}

.top_30 {
  margin: 30px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.p_30 {
  padding: 30px !important;
}

.pb_45 {
  padding-bottom: 45px !important;
}

@media (max-width: 991px) {
  .conatiner_margin {
    margin-top: 30px !important;
  }
}

.main-content {
  background-color: white !important;
  border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  margin-bottom: 30px;
  min-height: 100vh;
  padding: 30px;
}

.section_title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}

.section_title .section_title_text {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  margin: 0;
}

.section_title span {
  position: absolute;
  top: 18px;
  height: 8px;
  width: 100%;
  bottom: 0;
  opacity: 0.6;
  left: 0;
  border-radius: 4px;
  background-color:  var(--main-color);
}
